{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block body_class %}home-page{% endblock body_class %}

{% block content %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>{{ object.title }}</h1>
                <p>{{ object.subtitle|linebreaks }}</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#spouse">Spouse/SO</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#friends">Friends</a></li>
                <li><a href="#family">Family</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <div id="main">
        <!-- Intro -->
        <article id="spouse">
            <h2 class="major">Spouse/SO</h2>
            <span class="image main"><img src="{{STATIC_URL}}img/pic01.jpg" alt="" /></span>
            <p class="excuse-copy">Aenean ornare velit lacus, ac varius enim ullamcorper eu. </p>
        </article>
        <!-- Work -->
        <article id="work">
            <h2 class="major">Work</h2>
            <span class="image main"><img src="{{STATIC_URL}}img/pic02.jpg" alt="" /></span>
            <p class="excuse-copy">Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu.</p>
        </article>
        <!-- About -->
        <article id="friends">
            <h2 class="major">Friends</h2>
            <span class="image main"><img src="{{STATIC_URL}}img/pic03.jpg" alt="" /></span>
            <p class="excuse-copy">Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat.</p>
        </article>
        <!-- Contact -->
        <article id="family">
            <h2 class="major">In-Laws</h2>
            <span class="image main"><img src="{{STATIC_URL}}img/pic04.jpg" alt="" /></span>
            <p class="excuse-copy">Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
        </article>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">MET CS 633 Team #7: Ryan, Scott, Antonio, Denver, and Nate</p>
    </footer>
</div>
<!-- BG -->
<div id="bg"></div>


{% endblock %}

